body {
    background-color: pink;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: white;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}

#red{
    width: 50px;
    height: 50px;
    background: red;
}

#magenta{
    width: 50px;
    height: 50px;
    background: magenta;
}

#blue{
    width: 50px;
    height: 50px;
    background: blue;
}

#purple{
    width: 50px;
    height: 50px;
    background: purple;
}
